* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;

  background: rgb(255, 0, 9);
  background: -moz-linear-gradient(
    96deg,
    rgba(255, 0, 9, 1) 0%,
    rgba(255, 255, 255, 1) 33%,
    rgba(13, 61, 232, 1) 100%
  );
  background: -webkit-linear-gradient(
    96deg,
    rgba(255, 0, 9, 1) 0%,
    rgba(255, 255, 255, 1) 33%,
    rgba(13, 61, 232, 1) 100%
  );
  background: linear-gradient(
    96deg,
    rgba(255, 0, 9, 1) 0%,
    rgba(255, 255, 255, 1) 33%,
    rgba(13, 61, 232, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0009",endColorstr="#0d3de8",GradientType=1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  text-align: center;
  font-family: "Bungee Tint", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
h2 {
  text-align: center;
  font-family: "Orbitron", sans-serif;
}
h3 {
  text-align: center;
  font-family: "Orbitron", sans-serif;
}
.maquina {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
  height: 100%;
}
.maquina .pantalla {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60%;
  min-height: 400px;
  place-items: center;
  border: 2px solid #000;
  margin: 10px;
  border-radius: 14px;
  background-color: white;
  overflow: hidden;
}
.maquina .pantalla #imagen1,
#imagen2,
#imagen3,
#imagen4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#imagen1 img {
  width: 52%;
  cursor: pointer;
}
#imagen2 img {
  width: 82%;
  cursor: pointer;
}
#imagen3 img {
  width: 62%;
  cursor: pointer;
}
#imagen4 img {
  width: 50%;
  margin-left: 15px;
  cursor: pointer;
}
#imagen1:hover,
#imagen2:hover,
#imagen3:hover,
#imagen4:hover {
  scale: 1.1;
}
.resultado {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  border: 1px solid #000;
  padding: 20px;
  border-radius: 14px;
}
label {
  font-size: 1.2rem;
}
.select-cantidad,
.select-pago {
  border-radius: 14%;
  font-size: 1.3rem;
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}
.btn-pagar,
.btn-reset {
  width: 30%;
  height: 40px;
  font-size: 1rem;
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  color: #fff;
  border-radius: 10px;
  background: rgba(13, 61, 232, 1);
  border: none;
}
.btn-pagar:hover,
.btn-reset:hover {
  background: rgb(11, 24, 69);
  cursor: pointer;
  color: red;
}
.oculto {
  display: none;
}
@media (max-width: 1115px) {
  #imagen1 img {
    width: 65%;
  }
  #imagen2 img {
    width: 111%;
  }
  #imagen3 img {
    width: 90%;
  }
  #imagen4 img {
    width: 66%;
    margin-left: 30px;
  }
}
@media (max-width: 900px) {
  h1 {
    flex-direction: column;
  }
  .maquina .pantalla {
    width: 110%;
  }
  .btn-reset {
    width: 50%;
    height: 50px;
  }
  #imagen1 img {
    width: 65%;
  }
  #imagen2 img {
    width: 99%;
  }
  #imagen3 img {
    width: 76%;
  }
  #imagen4 img {
    width: 69%;
    margin-left: 30px;
  }
}
@media (max-width: 600px) {
  #imagen1 img {
    width: 55%;
  }
  #imagen2 img {
    width: 99%;
  }
  #imagen3 img {
    width: 77%;
  }
  #imagen4 img {
    width: 57%;
    margin-left: 18px;
  }
}
